html, body {font-size: 15px; width:100%; height:100%;}
.wh {color:#fff;}
.cur {cursor: pointer;}
.font1{font-size: 4rem; font-style: italic; color:#c3c3c3; opacity:0.5;}
.font2{color:#4e5e5d; font-weight: 800; font-size: 2rem;}

header{width:100%; height:15%; background-color: rgba(0,0,0,0.1); z-index:10; position:fixed;}
.logo_box{width:25%; height:10%; position:fixed; z-index:10; left:5%; padding:1% 0%;}
.logo > li{float:left;}
.gnb_box {width:70%; height:10%; position:fixed; z-index:10;right:5%; }
.green {background-color: #4a5e53; width:170px; height:40px; float:right; border-radius: 0  0 20px 20px; padding:13px 22px 0 0;
margin-bottom:1%;}
.login > li{float:right; font-size: 0.75rem; padding:0 3.5% 1% 0; }
.login > li:nth-child(1) {padding-right:0; }
.login > li:nth-child(5) {padding-left:5.2%;}
.logo_img {width:30%;padding:1.5% 0 0 0; }
.logo_img img {width:100px; }
.logo_tit {text-align: center; padding-top:5%; color:#fbf8c7; }
.gnb {width: 100%; }
.museum{width:15%; float:right; text-align: center; padding-top:1%;}
.museum ul{display:none; padding-top:18%;}
.museum ul li {padding:3%; background-color: rgba(255,255,255,0.4);}
.museum ul li:hover { background-color: rgba(0,0,0,0.4);}

.navs_pc {display:block;}
.navs_mo {display:none;}
.navs_sub {width:100%; position: fixed; top:3.5rem; z-index:9; display:none; background-color:rgba(255,255,255,0.3);}
.navs_sub > li {padding:1em;  color:#666; }
.dn_bg {background-color:rgba(255,255,255,0.1); color:#000; box-shadow:0 5px 5px rgba(0,0,0,0.4);}

.main {width:100%; height:100%; position: relative; margin-bottom:2%;}
.bg{width:100%; height:75%; position: absolute; overflow-y: hidden; top:-10%;}
.tire_box {width:50%;  }
.tire {width:22%; position: absolute; top:40%; left:35%;}
.che_left {position: absolute; top:61.5%; left:30%; font-size: 3.5rem; color:#4b6054;}
.che_right {position: absolute; top:61.5%; right:38%;font-size: 3.5rem; color:#4b6054;}
.search_box {width:50%; height:4.5%;  border:3px solid #c6d2c9; 
line-height:4%; position: absolute; top:90%; left:25%;}
.search_text {float:left;  padding:2% 1.5%; color:#abadae; }
.search {float:right; background-color: #c6d2c9; padding:1% 2%; cursor: pointer;}
.search > i {color:#fff;}

.history {width:100%; height:90%; position: relative; margin-bottom:15%; border-top: 1px solid #82a69e;}
.wrap { width:100%; height:100%;}
.back_wheel {background-image: url("../img/back_wheel.png"); background-repeat: no-repeat;  opacity:0.3; width:50%; height:70%; 
	background-size: 80%; position: absolute; left:-10%; top:5%; z-index: -1;}
.his_box{width:50%; height:5%; position: relative; top:12%;}
.his_en {width:70%; position: absolute; top:0; left:90%; }
.his_ko {width:100%; position: absolute; top:60%; left:-10%; }
.his_cont {width:80%; height:78%; background-color: #82a69e; float:right;
z-index:1; margin-top:17%; }
.banz{width:40%; position:absolute; top:20%; right:-15%;}
.banz > img {width:50%;}
.his_cont_txt {width:64%;text-align: justify; padding:0 0 0 15%;  color:#fff;}
.his_txt {width:30%; height:20%; font-size: 1.5rem; color:#fff; display:table;}
.cell {display:table-cell; vertical-align: middle; }
.cell > span {font-size: 1.5rem; color:#fff;}
.his_img {width:50%; position: absolute; top:65%; left:0;}
.his_img > img {width:60%;}
.his_tit{ width:60%; text-align: center; color:#fff; font-size: 1.5rem;
margin:3% 0 2% 5%;}
.but {margin:3% 0 0 40%;}
.year {font-size: 11rem; width:25%; position: absolute; top:75%; 
	right:2%; font-weight: 700; color:#c3c3c3;}


.facil {width:100%; height:80%; position: relative; border-top:1px solid #d6d7c8; margin-bottom:13%;}
.fac_txt {width:50%; height:5%; position: relative; margin:4% 0 7% 0; }
.fac_en {width:100%; position: absolute; top:0%; left:80%; }
.fac_ko {width:70%; position: absolute; top:140%; left:70%; }
.fac_box {background-color: #d6d7c8; z-index:-1; width:100%; height:90%; }
.fac_img {width:50%; overflow: hidden;}
.fac_img > li {width:50%; position: absolute;top:40%; animation-fill-mode: forwards; animation-timing-function: linear;}
.fac_img img{width:85%;}
.fac_left {position:absolute; top:75%; left:25%; font-size: 2rem; opacity:0.3;}
.fac_right {position: absolute; top:75%; right:23%; font-size: 2rem;opacity:0.3; }
.fac_left:hover, .fac_right:hover {opacity: 1;}
.fac_dec{width:42.5%; height:100%; position: absolute; top:40%; left:30%; display:none;  }
.wh_line{border:10px solid rgba(255,255,255,0.7); width:100%; height:100%; padding-bottom:66%;}
.black_box {width:35%; height:40%; background-color: rgba(0,0,0,0.7); color:#fff; position: absolute; top:1.5%; }
.black_txt {width:80%; height:100%;  padding:5% 0 0 5%;}
.black_txt > h4{padding-top:10%; padding-left:40%; }
.black_txt > p{padding:10% 0 0 15%; text-align: justify;}
@keyframes fbanAni{
	0%{transform:scale(0.1); opacity:0;}
	50%{transform:scale(0.3); opacity:1;}
	100%{transform:scale(1); opacity:1;}
}

.video {width:100%; height:80%; position: relative; margin-bottom:7%;}
.vid_txt {width:50%; height:5%; position: relative;  }
.vid_en{width:100%; position: absolute; top:0; left:95%; }
.vid_ko{width:70%; position: absolute; top:140%; left:90%; }
.back_gear{background-image: url("../img/back_gear.png"); background-repeat: no-repeat; width:50%; height:100%; 
	background-size: 85%; position: absolute; left:-3%; top:-2%;  opacity: 0.7;}
.movie_box {width:30%;  height:50%; }
.movie_bg { width:50%; height:50%;}


.news{width:100%; height:85%; position: relative; border-top:1px solid #e6efe5; margin-bottom:7%;}
.news_txt {width:50%; height:5%; position: relative; margin:4% 0 7% 0; }
.news_en{width:100%; position: absolute; top:0; left:80%; }
.news_ko{width:70%; position: absolute; top:140%; left:70%; }
.news_box {width:100%;height:85%;  background-color:#e6efe5;  z-index:1; }

.sns {width:100%; height:70%; position: relative; }
.sns_box {width:50%; height:5%; position: relative;  }
.sns_en {width:100%; position: absolute; top:160%; left:85%; }
.sns_ko {width:70%; position: absolute; top:340%; left:70%;}
.sns_txt {width:70%;  position: absolute;top:500%;  left:80%; color:#999; font-size: 0.9rem;}
.wheel1{ width:80%;position: absolute; top:50%; left:-3%;  z-index:-1; opacity:0.3;}
.wheel1 >img {width:30%; }
.wheel2{ width:40%;position: absolute; top:20%; right:-15%;  z-index:1; opacity:0.3;}
.wheel2 >img {width:80%; }
.rim1 {width:60%;position: absolute; top:100%; left:2%;  opacity:0.7;}
.rim1 > img {width:30%;}
.rim1_img {width:40%;position: absolute; top:107.5%; left:5%; }
.rim1_img > img{width:30%;}
.rim2 {width:60%;position: absolute; top:100%; left:20%;  opacity:0.7;}
.rim2 > img {width:30%;}
.rim2_img {width:40%;position: absolute; top:108%; left:23%; }
.rim2_img > img{width:30%;}
.rim3 {width:60%;position: absolute; top:100%; left:38%;  opacity:0.7;}
.rim3 > img {width:30%;}
.rim3_img {width:40%;position: absolute; top:107.5%; left:41%; }
.rim3_img > img{width:30%;}
.rim4 {width:60%;position: absolute; top:100%; left:56%;  opacity:0.7;}
.rim4 > img {width:30%;}
.rim4_img {width:40%;position: absolute; top:107.5%; left:59%; }
.rim4_img > img{width:30%;}
.rim5 {width:60%;position: absolute; top:100%; left:74%;  opacity:0.7;}
.rim5 > img {width:30%;}
.rim5_img {width:40%;position: absolute; top:107.5%; left:77%; }
.rim5_img > img{width:30%;}

.foot {width:100%; height:40%;  }
.foot_bg{ width:100%; height:100%; background-color: #4b6054; z-index:-1;}
.foot_cont {width:40%;   margin-top:3%; margin-left:15%;}
.foot_logo {width:100%; padding-top:3%;}
.foot_logo > li{float:left;}
.f_logo > img{width:80%;}
.f_txt {text-align: center; color:#fbf8c7; padding:3% 6% 0 0; }
.icon {font-size: 1.5rem; color:#fff; padding:4% 4% 0 0;}
.lists {width:100%; color:#fff;}
.lists li{padding-bottom:1%;}
.left {float:left; padding-right:3%;}
.last {font-size: 0.75rem;}
.pa_ri {padding-right:3%;}
.clo {font-size: 2rem;}
.pho {font-size: 1.5rem;}
.map{ width:40%;  margin-right:15%;}



@media screen and (max-width:1200px){
	
}
@media screen and (max-width:960px) {
	
}
@media screen and (max-width:800px){
	
}
@media screen and (max-width:768px) {
	.navs_pc {display:none;}
	.navs_mo {display:block;}
	.navs_sub {display:none;}

}

@media screen and (max-width:555px){
	
}
@media screen and (max-width:480px){

	
}
